[2016-03-14 00:44] BabyAzerty opened #2 "Carthage support?"
Will you consider a Carthage support?

[2016-03-30 23:48] sf-jed-kyung commented on #2
I'm sorry for the late answer and thank you for your interest in our framework. We don't have a plan to support Carthage officially yet. You can use Carthage to deploy this framework into your project if you want, but the framework will be installed in `Carthage/Checkouts` folder only. I think this won't be different from the direct download from git repo. We recommend to use Cocoapods.

[2016-04-01 12:49] hash3r opened #3 "Progress block in uploading function"
I think it is not a problem to add a progress block to SendBird.uploadFile()
Developers could make UI of uploading process more determinate, but not just like a spinner.
Thank you in advance

[2016-04-05 05:23] #2 closed

[2016-04-05 05:26] sf-jed-kyung commented on #3
It's a good idea. I'll consider your opinion. Thanks!

[2016-04-05 05:26] #3 closed

[2016-04-05 16:04] hash3r opened #4 "Irrelevant logs"
Please make logs from SendBird SDK meaningful.
Logs like `didCloseWithCode`, `didFailWithError` and similar say nothing.
Also make an option to disable these logs

[2016-04-05 22:49] sf-jed-kyung commented on #4
We have a road map to improve the convenience of our framework. Your idea will be accepted. Thanks!

[2016-04-05 22:49] #4 closed

[2016-04-06 22:21] dannybess opened #5 "Missing argument "messageDeliveryBlock" in call"
Hi,

I am attempting to recreate the Send Bird example project in my own app. However, a certain code snippet that was used in the given project is not working for me. Specifically, it seems to be that the  SendBird.setEventHandlerConnectBlock is missing the messageDeliveryBlock argument. (I am getting the error: Missing argument "messageDeliveryBlock" in call).
The code:
[code]

Would anyone happ

[2016-04-06 23:09] dannybess commented on #5
Nevermind - realized that I was using code which was intended for a previous build of the SendBirdSDK framework.

[2016-04-06 23:09] #5 closed

[2016-05-07 16:15] inturbidus opened #6 "No interface on SendBirdMessageModel declares message as an interface"
After upgrading from 2.0.28 to 2.2.0 I get this message on line 326 of MessagingChannelTableViewCell.m

[2016-05-08 03:46] sf-jed-kyung commented on #6
Please try to use v2.2.1. Let me know if your problem is solved.

[2016-07-06 19:00] hash3r opened #7 "Error with code 15200"
Sometimes I received error from EventHandlerConnectBlock with code 15200.
I did not found error description with this code in docs.
Could you help me with this?

[2016-07-06 21:06] sf-jed-kyung commented on #7
The error code `15200` is from `[SendBird markAllAsRead]`. We didn't know the error was missed out in [the docs](https://docs.sendbird.com/ios#misc). I have just updated it. Thanks.

[2016-08-31 20:11] marpal opened #8 "Create channel is really slow when running on a device"
We are running into an issue with createChannel when running on a device as it takes several seconds. When running in the simulator is works fine

[2016-08-31 22:28] sf-jin-ku commented on #8
Hi @marpal

Could you send an email to support@sendbird.com?
Could you also add app_id , user_id and parameters you passed to the method?

Thanks!

[2016-08-31 22:28] #6 closed

[2016-08-31 22:28] #7 closed

[2016-09-01 15:12] marpal commented on #8
@sf-jin-ku will do that

[2016-09-04 23:10] #8 closed

[2016-10-02 22:22] inturbidus opened #9 "_NSStreamNetworkServiceTypeCallSignaling referenced from: _SendBird_SRStreamNetworkServiceTypeFromURLRequest in SendBirdSDK(SendBird_SRURLUtilities.o)"
<img width="704" alt="screen shot 2016-10-02 at 6 18 21 pm" src="https://cloud.githubusercontent.com/assets/905441/19024225/e2e4f2d0-88cc-11e6-953c-ef3afdd32f3f.png">

[2016-10-03 03:22] inturbidus commented on #9
Cocoapods. I believe this is because that API is in iOS SDK 10, and I'm on 9.3 targeting 8.

Also, SendBirdSDK targets 7, but warnings on compile say it's compiled for 8.

[2016-10-03 06:42] sf-jed-kyung commented on #9
Do you use Xcode 7?

[2016-10-03 09:53] sf-jed-kyung commented on #9
I'm trying to support Base SDK 9.3 in the next version.

[2016-10-03 12:46] inturbidus commented on #9
Yes I use Xcode 7.

–––––––––––––––––––––––––––––––––––––
Matt Hudson - Founder
–––––––––––––––––––––––––––––––––––––

Cell: (479) 313-6431
Website: www.voterockit.com
Email: matt.hudson@gmail.com
Twitter: @MattFWD

[2016-10-04 02:33] sf-jed-kyung commented on #9
The SDK v3.0.13 was released in order to support Base SDK 9.3. Please check it.

[2016-10-04 02:45] #9 closed

[2016-10-06 13:15] SusheelYadavAhex opened #10 "Sendbird iOS 10.2 support"
I have integrated **iOS Sendbird SDK version 3.0.12** in my iOS application.
It works fine with **iOS 9.3 or descended versions**, It will throw the following error when I tried to check my sendbird app with **ios version 10.0.2**

[code]

and also broken pipe error
[code]

**Does SendBird SDK will do have support for iOS version 10 ?**

[2016-10-06 23:20] sf-jed-kyung commented on #10
There is a similar issue here. It doesn’t seem to cause any problems.
https://forums.developer.apple.com/thread/49777

I’ll be keeping an eye on the issue. If a serious reason is discovered about it, I’m going to fix our SDK promptly.

[2016-10-06 23:20] #10 closed

[2016-11-18 22:55] JuanPabloBoero opened #11 "Not receiving notifications while app is in foreground"
I am using SendBirdSDK 3.0.17, iOS 9.3, swift 2.3.

While chatting with some user, that user receives push notifications if the user app is not active, but once the app is active  `didReceiveRemoteNotification` wont get fired by new messages, i even enabled debug mode, in the console i can see that the message is received, but never gets to the AppDelegate method, is this a desired behaviour? are

[2016-11-21 00:38] sf-jed-kyung commented on #11
The behavior is intended by us. The push notification is sent to the offline user by SendBird push server. SendBirdSDK becomes offline automatically when the app is switched to background. I think that you don’t have to receive the push notification for all messages. If the app is online, every message is received on [`– channel:didReceiveMessage:`](https://docs.sendbird.com/ref/ios/Protocols/SBDC

[2016-11-21 15:16] JuanPabloBoero commented on #11
Ok, i implemented `channel(sender: SBDBaseChannel, didReceiveMessage message: SBDBaseMessage)` in my `AppDelegate`, and `SBDMain.addChannelDelegate(self, identifier: self.description)` and the delegate started receiving the messages, now i fire a `NSNotification` in order to execute my logic. thanks!

[2016-11-21 15:16] #11 closed

[2016-11-25 10:20] jacks8x opened #12 "didSucceedReconnection, didFailReconnection not call"
After comeback app from background, didSucceedReconnection or didFailReconnection are not called.
Just method didStartReconnection() is called

[2016-11-25 10:36] sf-jed-kyung commented on #12
Hi,

We recognized the problem and the fixed SDK will be released next week.

Thanks.

[2016-11-25 10:40] sf-jed-kyung commented on #12
https://github.com/smilefam/SendBird-iOS/issues/16

[2016-11-25 10:41] sf-jed-kyung commented on #12
https://github.com/smilefam/SendBird-iOS/issues/16

[2016-12-05 11:21] sf-jed-kyung commented on #12
We fixed it in v3.0.19. Please try it. Thanks.

[2016-12-05 11:21] #12 closed

[2017-01-18 10:37] karuppasamypandian0856 opened #13 "iOS: try to connect with user got this issue"
Just added SDK manually and added this line to Xcode -> Build Settings -> Linking -> Other Linker Flags.

-ObjC -l"icucore" -framework "CFNetwork" -framework "Foundation" -framework "MobileCoreServices" -framework "QuartzCore" -framework "Security" -framework "UIKit" -framework "CoreGraphics"

[code]
**Got this log**
Time diff of routing: 2.517095
[SendBird] Routing: https://api.sendbird.com : wss

[2017-01-18 18:12] sf-jed-kyung commented on #13
Hi,

I think that is the network latency problem. Let me know two things for checking it.

1. Ping latency
api-p.sendbird.com
api.sendbird.com

2. Your location

Thanks.

[2017-01-19 15:37] claudiumatei opened #14 "Is there a way to edit/update a specific message?"
Hi,

Is there a way to edit/update a specific message?

PS: deleting the message and adding a new one is not an option, since this is feasible only for the last message.

Thanks,
Claudiu

[2017-01-20 03:25] sf-jed-kyung commented on #14
Hi,

Editing messages is a feature we have on our roadmap. We expect the feature will be released within the first half of this year. You will get a free upgrade when the feature will be released.

Thanks.

[2017-01-20 03:25] #14 closed

[2017-01-23 13:33] karuppasamypandian0856 commented on #13
hi,
i dont know how to get ping latency of you mentioned. but i got my log in device only
**ERROR FOUND in connecting user (null)**
What is the problem ?

[2017-01-23 18:45] sf-jed-kyung commented on #13
1. I’d like to know the result of `ping api-p.sendbird.com` and `ping api.sendbird.com` commands in the terminal.

2. If the `error` is nil, it means there is no error. You should exchange two `NSLog` statements.

3. I think you opened `SendBird-iOS.xcodeproj` of the sample project. You have to open `SendBird-iOS.xcworkspace` because of `CocoaPods`.

[2017-01-24 05:05] karuppasamypandian0856 commented on #13
Thank you
1)  ping latency
PING api-p.sendbird.com (52.77.161.98): 56 data bytes
64 bytes from 52.77.161.98: icmp_seq=0 ttl=49 time=208.841 ms
64 bytes from 52.77.161.98: icmp_seq=1 ttl=49 time=208.646 ms
64 bytes from 52.77.161.98: icmp_seq=2 ttl=49 time=208.581 ms
64 bytes from 52.77.161.98: icmp_seq=3 ttl=49 time=208.690 ms
64 bytes from 52.77.161.98: icmp_seq=4 ttl=49 time=208.666 ms
64 bytes

[2017-01-25 14:15] karuppasamypandian0856 commented on #13
any update ?

[2017-01-25 19:23] sf-jed-kyung commented on #13
The 208~279 ms latency is not so bad for SSL handshake. There were low latency issues from other customers at that time you mentioned. By the way, the issues were disappeared later. We thought that there seemed to be a network problem in the server region that we were using.  Did you see the `SSLHandshake failed` error again?

[2017-01-30 05:15] karuppasamypandian0856 commented on #13
not now

[2017-02-01 02:34] swiftymarks opened #15 "Delegate Issue protocol"
Hello I am having problem in the delegate protocol where I implement this on 2 view controllers
 SBDMain.add(self as SBDChannelDelegate, identifier: Constant.SENDBIRD_API_TOKEN)

Where this delegate only works on 1 View controller this issue occurs in v3.0.35
[code]

[code]

[2017-02-01 03:40] sf-jed-kyung commented on #15
Hi,

You have to add delegates for each view controller with different identifiers.

[2017-02-01 03:41] #13 closed

[2017-02-01 09:48] swiftymarks commented on #15
Yes I did that. Will run some more few test. I'll get back to you Thanks!

[2017-02-10 05:25] karuppasamypandian0856 commented on #2
hi,
when try to install using carthage.i got this below error when run this cmd **carthage update --platform iOS**

[2017-02-10 05:43] sf-jed-kyung commented on #2
We offer `Build` only via Carthage. I’ve never seen the error that you wrote. I’ll take a look at it.

[2017-02-10 07:22] karuppasamypandian0856 commented on #2
okay thank you.just asked for clarification.

[2017-02-15 14:42] karuppasamypandian0856 commented on #13
From your sample project
Obj-c sample project cant run MGSwipeTableCell/MGSwipeTableCell.h not found with error
swift file run smoothly why ?

[2017-02-15 18:06] sf-jed-kyung commented on #13
Have you ever tried running `pod update` in the sample project directory?

[2017-02-16 08:13] karuppasamypandian0856 commented on #13
yes, i'm new to pod file use, thank you.We need to update every time to run this?

[2017-02-16 11:57] karuppasamypandian0856 commented on #13
**checked about this issue: NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -981**
 somebody told to check TransportSecurity in plist. Its already added in my case.

[2017-02-16 13:40] karuppasamypandian0856 commented on #13
Always this issue occurred when call setup function from Chatingview.m and pop from same.

[2017-02-16 19:30] #15 closed

[2017-02-16 19:40] sf-jed-kyung commented on #13
1. You don’t have to run `pod update` always. When I update the sample project, I run `pod update` and include the new version of required frameworks. I have no idea why the `MGSwipeTableCell` framework is missed.
2. Could you tell me the lines where `dispach_sync()` is required? Thanks in advance.

[2017-02-17 05:37] karuppasamypandian0856 commented on #13
im not sure about it required or not `dispach_sync()`. i replaced that with setup function and return back from that viewcontroller.
[code]

[2017-02-17 11:20] swiftymarks opened #16 "Feature Request (Seed Channels)"
Hello, can you guys able to add a seed contents for the SBDGroupChannel so we can make test on our app. Since the class is marked as final we can't subclass it on our own to make that function. Nor modify some properties since it's marked as Get only

[2017-02-21 04:23] karuppasamypandian0856 commented on #13
okay i have changed the pushviewcontroller as separate function call with delay now works fine.
Any update from your side about this issue?

[2017-02-21 04:33] karuppasamypandian0856 commented on #13
That keyboard show/hide that inputView frame not changing when becomeFirstResponder/reignFirstResponder. Here reused your sample code chattingView.m

![screen shot 2017-02-21 at 9 59 19 am](https://cloud.githubusercontent.com/assets/19841870/23150805/7f5010b4-f81c-11e6-9a69-541dda12091b.png)

[2017-02-21 19:17] sf-jed-kyung commented on #13
I think your modification is right. And `ChattingView.m` doesn’t include the feature to change the frame size when showing a keyboard. It has to be changed by a view controller that has `ChattingView`. Please refer to `GroupChannelViewController.m` or `OpenChannelViewController.m` in the sample.

https://github.com/smilefam/SendBird-iOS/blob/master/sample-objc/SendBird-iOS/GroupChannel/GroupChanne

[2017-03-14 07:25] karuppasamypandian0856 commented on #13
okay thank you

[2017-03-14 07:38] karuppasamypandian0856 opened #17 "push notification not recived"
I followed below steps from my side but didnot call `didReceiveRemoteNotification` delegate

here APNS configurations done in settings on account
capabilities enabled/device token registration done in xcode
but uploaded certificate was Production here i tried in development

[code]

[2017-03-14 07:58] sf-craig-park commented on #17
Hi, this is Craig.
Thank you for using SendBird for your application!

Could you please share us following informations:
- iOS SDK Version you're working with
- SendBird App ID. You can get the ID in our dashboard, looks like `XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX`
- a device token that you tried to register to our server
- if you got any error message when register the device token. (Does the code

[2017-03-14 09:53] karuppasamypandian0856 commented on #17
Hi @sf-craig-park ,

Q:  iOS SDK Version you're working with
-- i have worked with v3.0
Q:  SendBird App ID. You can get the ID in our dashboard, looks like XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
-- USED APP ID E11F671D-7219-4CDE-B546-9D26A2C20275
Q : a device token that you tried to register to our server
-- Device token: 989b40436e7673a6face3163b9d087c6531c95889158b9a0d51726697467dd14
Q: if you go

[2017-03-15 05:07] karuppasamypandian0856 commented on #17
any update regarding this ?

[2017-03-15 15:58] karuppasamypandian0856 opened #18 "Every First time UserList Query return 0 !"
I have tried this below code for listing users but it does not return users every first time why.but second time its not happening?
[code]

[2017-03-15 16:16] karuppasamypandian0856 commented on #11
Push notification not received.Please help me out!

[2017-03-15 17:41] sf-jed-kyung commented on #18
Was the `users` just empty without error?

[2017-03-16 06:24] karuppasamypandian0856 commented on #18
this error sometimes occur otherwise nil for every first time.

[code]

[2017-03-16 12:50] karuppasamypandian0856 commented on #18
[SendBird] Start getHostUrlWithCompletionhandler: 1489668428.186942
Time diff of routing: 2.186397
SendBird] Routing: https://api.sendbird.com : wss://ws.sendbird.com
SendBird] Start getHostUrlWithCompletionhandler: 1489668430.375037
SendBird] Finish getHostUrlWithCompletionhandler: 1489668430.375646
SendBird] URL: https://api.sendbird.comhttps://api.sendbird.com
SendBird] Finish getHostUrlWithCom

[2017-03-16 16:54] sf-jed-kyung commented on #18
I think that you called [`loadNextPageWithCompletionHandler:`](https://docs.sendbird.com/ref/ios/Classes/SBDUserListQuery.html#//api/name/loadNextPageWithCompletionHandler:) of [`SBDUserListQuery `](https://docs.sendbird.com/ref/ios/Classes/SBDUserListQuery.html) before [`connectWithUserId:completionHandler:`](https://docs.sendbird.com/ref/ios/Classes/SBDMain.html#//api/name/connectWithUserId:comp

[2017-03-17 07:55] karuppasamypandian0856 commented on #18
Thank you.Here i have checked about the Connection status by [SBDMain getConnectState] its return 0 or 3
[code]
The output was
SBD server Connection state 0
USER count 0 ERROR list Error Domain=Not valid Api-Token. Api-Token is missing. Code=400401 "(null)"
SBD server Connection state 1

[2017-03-17 07:59] karuppasamypandian0856 commented on #18
After that i have changed  all user list Query to particular users it gud.
`[SBDMain createAllUserListQuery];  --> [SBDMain createUserListQueryWithUserIds:OperatorIDarray];`

[2017-03-17 08:10] karuppasamypandian0856 commented on #18
loadPreviousMessagesFromTimestamp method is deprecated now.There is any other way to get this done for group channel.

[code]

[2017-03-17 17:08] sf-jed-kyung commented on #18
1. The connection states are defined in [`SBDWebSocketConnectionState`](https://docs.sendbird.com/ref/ios/Constants/SBDWebSocketConnectionState.html) in `SBDTypes.h`. According to that, The `0` means that the connection is in progress and the `1` means that the connection is opened. The `3` represents that the connection is closed. If the connection state isn’t the `1`, every request returns the e

[2017-03-18 09:45] karuppasamypandian0856 commented on #18
Thank you for information. i just followed your sample project so, i did not refer other method.

[2017-03-18 14:59] karuppasamypandian0856 commented on #18
okay if i get `SBDWebSocketConnecting` status from `[SBDMain getConnectState] `shall i wait to call UserlistQuery or reconnect a user?

how to reconnect user other than below method ?
[code]

[2017-03-18 16:00] sf-jed-kyung commented on #18
If you already called [`connectWithUserId:completionHandler:`](https://docs.sendbird.com/ref/ios/Classes/SBDMain.html#//api/name/connectWithUserId:completionHandler:) of [`SBDMain`](https://docs.sendbird.com/ref/ios/Classes/SBDMain.html) and it was completed without error, just call [`reconnect`](https://docs.sendbird.com/ref/ios/Classes/SBDMain.html#//api/name/reconnect) of [`SBDMain`](https://do

[2017-03-21 04:38] karuppasamypandian0856 commented on #18
okay,thank you

[2017-03-23 12:49] karuppasamypandian0856 opened #19 "getNextMessagesByTimestamp always return null"
i have tried getNextMessagesByTimestamp when channel has unread count but it always return null
[code]

output:-
 [SendBird] Start getHostUrlWithCompletionhandler: 1490272609.560493
[SendBird] Finish getHostUrlWithCompletionhandler: 1490272609.560839
[SendBird] URL: https://api.sendbird.com/v3/group_channels/sendbird_group_channel_26422033_1f8f16640eb841bf84febc4056d0e4f83c552806/messages?next_lim

[2017-03-23 13:50] sf-jed-kyung commented on #19
I think that the `error` is nil and the `meesages.count` is zero in this case. It isn’t the error when the `messages.count` is zero. I recommend that the `!messages.count` is removed from the `if` clause.

How did you get `MESSAGE_TIMESTAMP`?

[2017-03-23 16:10] karuppasamypandian0856 commented on #19
Okay, but that time self.channel.unreadMessageCount has value. that `MESSAGE_TIMESTAMP` retrieved from Database. if DB has ) count we create timestamp by
`[[NSDate date ] timeIntervalSince1970] * 1000.`

[2017-03-23 17:17] sf-jed-kyung commented on #19
The way to create your `timestamp` isn’t wrong.  I'll ask you about two things.

1. Compare your `MESSAGE_TIMESTAMP` with `self.channel.lastMessage.createdAt` in that case. If the `MESSAGE_TIMESTAMP` is greater than `self.channel.lastMessage.createdAt`, then the `getNextMessagesByTimestamp:` method will return messages that is empty.
2. Check how to implement [`markAsRead`](https://docs.sendbird.c

[2017-03-28 05:06] karuppasamypandian0856 commented on #19
okay thank you.

[2017-04-06 22:51] #18 closed

[2017-04-06 22:52] #19 closed

[2017-08-02 10:04] SandeepAggarwal commented on #17
When this issue will get fixed?

[2017-08-02 15:54] metpb commented on #17
@sf-jed-kyung Hi, I too am facing a similar issue with notifications.

FYI the account isn't premium, yet.

I have uploaded the APNS cert (development) as per the docs and successfully registered the device push token with SendBird.  But I somehow am not getting notifications even if the user is offline. Any amount of help would be appreciated. Thanks

[2017-08-02 17:35] sf-craig-park commented on #17
@SandeepAggarwal @metpb Hi
Recently, we removed a logic validating a type of certificate uploaded to our server, which is either Development SSL Certificate / Production SSL Certificate.
The certificate you uploaded in our dashboard will be working as APNS type you selected.

![_2017-08-02_ _10_26_31](https://user-images.githubusercontent.com/20384972/28886141-3b590ef8-776d-11e7-8723-4077ac266b55.

[2017-09-24 17:04] KateZ30 opened #20 "Push Notifications not working for file messages"
Hello!

I use a free SendBird account for development. Push notifications for text messages are received w/o issues. But for file messages push notifications seem not working. I tried both Default and Alternative templates.

[2017-09-25 05:03] sf-craig-park commented on #20
Hi! this is Craig from SendBird.

Could you please specify your app_id, which you can find it on our dashboard. (XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)
And the time you tried to trigger push notifications.
Those information would help me to look through logs :)

And there's a document that might help you [Why am I not receiving push notifications?](https://help.sendbird.com/hc/en-us/articles/1150023

[2017-09-25 19:53] KateZ30 commented on #20
Hi Craig!

Just a couple of minutes ago I tested with the following app_id:
6887A014-A102-420D-B66E-FFE2C86D5453

For text messages I receive push notification so I setup them correctly.
For file messages (I sent photos) there are no any notifications.

Thx, Kate.

On 25 September 2017 at 08:03, sf-craig-park <notifications@github.com>
wrote:

--
*Best regards,*
*Kate.*

[2017-09-27 01:24] sf-craig-park commented on #20
@KateZ30 My apologies! Please do not share your app_id in public place! 👍
But unfortunately, I didn't receive e-mail. Could you please send it again to craig.park@sendbird.com ?

Thank you!

[2017-10-05 13:28] KateZ30 commented on #20
Hi Craig!

Any update on this issue? I have sent you an email on Sep 27th.

Thx, Kate

[2017-10-11 16:43] nab0y4enko opened #21 "Bitcode support in 3.0.67"
The new version of the framework(3.0.67) is made without Bitcode support!

Case 1:
If the project includes Bitcode support (ENABLE_BITCODE = true), then at the time of the Archive execution, we get Failed.

[code]

Case 2:
If Bitcode support is disabled in the project (ENABLE_BITCODE = false), the Archive succeeds. But the application will not be signed.

When we rollback to version 3.0.66, all bu

[2017-10-11 21:15] sf-jed-kyung commented on #21
Thank you for your reporting.

We changed the build procedure after releasing Xcode 9, and we missed some options related to bitcode. Please update v3.0.68 and let me know if there is another problem.

[2017-10-11 21:15] #21 closed

[2017-10-11 21:59] nab0y4enko commented on #21
Thanks @sf-jed-kyung
Archive with the new version works fine!

[2017-10-18 17:30] urispmts opened #22 "v3.0.68 prevents upload to the appstore - causes "Invalid Bundle - Disallowed LLVM instrumentation""
https://developer.apple.com/library/content/qa/qa1964/_index.html#//apple_ref/doc/uid/DTS40017675-CH1-SOURCECODE2

I'm using cocoapods to get it.

**running:**
otool -l -arch all Pods/SendBirdSDK/SendBirdSDK.framework/SendBirdSDK | grep __llvm_prf

**results:**
  sectname __llvm_prf_cnts
  sectname __llvm_prf_data
  sectname __llvm_prf_names
  sectname __llvm_prf_vnds
  sectname __llvm_prf_cnts

[2017-10-18 19:11] sf-jin-ku commented on #22
@urispmts We're updating the SDK version right now 3.0.69 should remove LLVM instrumentation things. It will be available within an hour.

[2017-10-18 19:11] #22 closed

[2017-11-16 01:26] drwin opened #23 "Swift Compiler Warning"
![image](https://user-images.githubusercontent.com/232649/32869141-c7ef29da-cab8-11e7-9373-2676ba8cc100.png)

![image](https://user-images.githubusercontent.com/232649/32869174-f0ecbd3e-cab8-11e7-839d-9b8457142aa8.png)

Swift compiler warning occurs.

[2017-11-24 06:10] krupa-detroja opened #24 "How can i fix this overlapping of messages in iPhone5s?"
![screen shot 2017-11-24 at 11 42 19 am](https://user-images.githubusercontent.com/30489948/33197642-ba6bacf2-d10c-11e7-95de-f17f6d6890ab.png)

[2017-11-27 21:55] sf-jed-kyung commented on #24
Please refer to https://github.com/smilefam/SendBird-iOS/issues/27

Thanks.

[2017-11-27 21:55] #24 closed

[2018-01-16 13:05] abingeorgev opened #25 "`setCustomTypeFilter:` not found in swift."
When we try a channellistquery with customtype filter, previously we used the variable "customtype". Right now it's deprecated, and is suggested to use setCustomFilter.

Please check the image associated. The issue is only for the swift version of the framework. I have attached a screenshot of what I get inside SBDGroupChannelListQuery.

How to solve this??
![screen shot 2018-01-16 at 5 53 26 pm](

[2018-01-17 18:51] zach-fuller opened #26 "Cannot Build to Simulator"
<img width="508" alt="screen shot 2018-01-15 at 11 20 46 am" src="https://user-images.githubusercontent.com/16906332/35060882-374f9ed4-fb85-11e7-93fc-ff3bd599017f.png">
Whenever I try to build to a simulator, I get a fatal error:

"lipo: -remove's specified would result in an empty fat file"

[2018-01-17 19:45] sf-jed-kyung commented on #26
Did you install SendBirdSDK via CocoaPods?

[2018-01-17 19:47] zach-fuller commented on #26
Yes I did, I've tried removing the pod and re-installing it with no luck. I also created a new project with the SendBirdkSDK as the only pod and ran into the same error

[2018-01-17 19:48] sf-jed-kyung commented on #26
What is the version of CocoaPods that you are using?

[2018-01-18 02:34] zach-fuller commented on #26
I had accidentally switched to the beta version of cocoapods, thanks for the quick response

[2018-01-18 02:34] #26 closed

[2018-01-25 10:24] MJRasmussen opened #27 "Can't call SBDMain.getCurrentUser()"
Case:
I am trying to "pushViewController(self.groupChannelListViewController!, animated: false)" from my MainViewcontroller. But when i trying to get the channels "self.channels = Utils.loadGroupChannels()" then it fails on this line "let messageFileNamePrefix = Utils.sha256(string: String(format: "%@_channellist", (SBDMain.getCurrentUser()?.userId.urlencoding())!))! as NSString".

Seems like the

[2018-01-30 11:50] kyivmobiledev opened #28 "Error Domain=User not found. Code=400201 on createChannelWithUserIds method"
Now i am using SendBird 3.0 on my project.
when i call createChannelWithUserIds, i am getting error. "Error Domain=User not found. Code=400201"
please check this screen.
https://monosnap.com/file/IKlOOsWX7U6eq4IOntesTun4RFO9Y21

Looking forward to hear any reply.
Regards

[2018-01-30 12:04] sf-jed-kyung commented on #28
Could you share your App ID and the user ID via [our technical support](https://help.sendbird.com/hc/en-us/requests/new?category=technical_support)?  Please don't post the App ID and the user ID here.

Thank you.

[2018-01-30 13:12] kyivmobiledev commented on #28
I just shared app id. can i get reply soon?

Thanks

[2018-01-30 19:52] #28 closed

[2018-02-13 09:24] famous90 commented on #27
Can you tell me what MainViewController are doing with Sendbird? If current user does not exist, it will occur some problems. I don't know exactly MainViewController, make sure SBDMain.connect get a SBDUser instance without error.

[2018-02-13 09:32] MJRasmussen commented on #27
Thanks for the reply.

I am getting the SBDUser in my mainViewController, to make sure that i have the SDBUSer when i am connecting to Sendbird. (That's why i had complete the loading of my MainViewController)

- So the solution that i have come up with, was to make the button to the chatView inactive, until i have received the USDUser.
So i just close this issue for now.

[2018-02-13 09:32] #27 closed

[2018-02-13 09:43] famous90 commented on #25
Hi @abingeorgev. Sorry to reply late. Is this capture header of SendBird SDK? we provide SDK based on objective-C, so it may be converted one by Xcode. I recommend you to use the framework without converting.
If you want to to query group channel list in Sendbird SDK, use SBDGroupChannelListQueryInstance.setCustomTypesFilter([string, ...]), [SBDGroupChannelListQuery setCustomTypesFilter:] in objec

[2018-02-13 09:51] famous90 commented on #23
Hi @drwin, are you still facing this issue? After update SendBird SDK, you can solve this issue.

[2018-02-13 09:52] famous90 commented on #20
Hi @KateZ30, have you resolved this issue??

[2018-02-13 09:53] famous90 commented on #17
@karuppasamypandian0856 Have you resolved this issue? If not, I can help you ASAP

[2018-02-13 09:58] famous90 commented on #16
Sorry to reply late. You can test with our sample application ID. In AppDelegate of SendBird-iOS sample, you can find [sample application ID](https://github.com/smilefam/SendBird-iOS/blob/master/sample-objc/SendBird-iOS/AppDelegate.m).
If you mean providing in your application only, I'm afraid we can't.

[2018-02-13 13:41] KateZ30 commented on #20
Hi @famous90 !
I didn't check for some time. I've just tested now and the issue is still there.
Cocoapods uses SendBirdSDK (3.0.62) at the moment. Could it be fixed in 3.0.78?

[2018-02-14 01:03] famous90 commented on #27
Sounds good. Tell us whenever you have any questions. Thank you @MJRasmussen .

[2018-02-14 01:08] famous90 commented on #20
@KateZ30 SendBirdSDK 3.0.88 is the latest version. you can update to this version. can you check with this? sorry to bother you.

[2018-03-06 05:24] evgzor commented on #17
Hi I have a similar issue, however, I got a local notification in ios notification center but I cannot get it in AppDelegate with didReceiveRemoteNotification function. Could u help me with that?

[2018-03-09 08:50] famous90 commented on #17
hi @evgzor I think you may miss some settings or a method in appDelegate. If not, let me know your environment for push and app settings related with sendbird.
And [our help center](https://help.sendbird.com/hc/en-us) is more helpful.

[2018-03-09 16:01] evgzor commented on #17
I use iOS 11. And to for getting push payload should contain "content-available": 1 otherwise it does not catch in didReceiveRemoteNotification function. sendbird does not generate such payload.

[2018-03-16 20:05] tomcalmon opened #29 "Send file isn't calling completionHandler"
SDK Version: **v3.0.90**
iOS Version: **11.2.1**

Please, check what is happening with `sendFileMessage` methods, I had no `completionHandler` executed in any of them.

Thank you.

[2018-03-19 08:05] famous90 commented on #29
`completionHandler` is executed after the api(`sendFileMessage` or other apis can be) was executed. If you call sendFileMessage or other SendBird methods without `completionHandler`, just the logic that sends file message will be executed. Nothing more.

[2018-03-19 08:18] famous90 commented on #17
@evgzor Following the apple guideline, "content-available" field used for background update. We support all environment(not only background), we recommend that you set this field in your dashboard.
And thanks to your idea, we will discuss containing this field by default.

[2018-03-19 12:00] tomcalmon commented on #29
Sorry, maybe I couldn't have explained well.

I put a breakpoint in `NSLog` into the `completionHandler` and It got executed on v3.0.89. Unfortunately, the same didnt happen in v3.0.90!

[code]

[2018-03-20 02:49] hyunsooo commented on #29
저도 마찬가지로 같은 에러가 발생합니다.
v3.0.90으로 업데이트한 이후 파일메시지가 progressHandler 까지는 작동이 되지만 completionHandler에서 아무런 데이터가 오지 않습니다. error.localizedDescription도 로그가 찍히지 않습니다. 확인 부탁드립니다.

[2018-03-20 08:59] famous90 commented on #29
@tomcalmon @hyunsooo We apologize for the inconvenience. We found some issues about sending file message with a binary. We fixed and updated SDK just now. through updating SendBird SDK to 3.0.91, you can use the API smoothly. Sorry to bother you guys and thanks for reporting.

[2018-03-20 12:27] tomcalmon commented on #29
@famous90 I'm glad you found the solution very fast. Thank you!

[2018-03-21 13:26] #29 closed

[2018-03-29 06:18] harishsaini commented on #23
Yes, We are also facing this issue, please help, we are using `3.0.92` version, let us know what we can do to resolve it.

[2018-06-04 14:16] ichina opened #30 "there is some case when SBDUserMessage data is null"
swift version:
1. got some `var msg: SBDUserMessage`
2. trying print in debugger `po msg`
    - got `0x6080002c03f0 - Message: facebook.com, ID: 1604828586, Sender: Admin The Great, Timestamp: 1528108538395` - everything ok
3. trying print in debugger `po msg.data`
    - got `-[__NSFrozenDictionaryM length]: unrecognized selector sent to instance 0x60000042cdc0
error: warning: couldn't get require

[2018-06-23 07:27] somsin opened #31 "Push Notifications not working"
i have integrated sendbird ios sdk in our app, all is working fine but we are unable to receive push notification in app, as per document in sendbird we have done all setup for push notification . but its not working we are using free version of sendbird ios sdk .
any help on this

[2018-06-29 15:28] nab0y4enko opened #32 "Compile errors after update to 3.0.103"
![example xcworkspace 2018-06-29 18-24-11](https://user-images.githubusercontent.com/1070269/42100924-396e4fba-7bca-11e8-9e6c-4c5724a8e5d9.jpg)

[2018-06-29 15:38] sf-jed-kyung commented on #32
Let me know how you installed and updated SendBird SDK.

[2018-06-29 20:52] tomcalmon commented on #32
I am facing the same problem!
I've installed SendBird using CocoaPods.

[2018-06-29 21:16] sf-jed-kyung commented on #32
Are you using Xcode 10 beta?

[2018-06-29 21:20] tomcalmon commented on #32
No, i'm using **Version 9.2 (9C40b)**.

[2018-06-29 22:21] sf-jed-kyung commented on #32
I fixed it in v3.0.104.

[2018-06-30 06:59] nab0y4enko commented on #32
Thank you! I confirm, this is fixed.

[2018-06-30 06:59] #32 closed

[2018-07-20 10:51] ichina commented on #30
Update: the problem is, that in SBDUserMessage `data` property(which is String in swift) i got NSDictionary object(which is possible in obj-c, not in swift), and in Swift there is no possibility to check type of this property

[2018-08-14 14:23] bogren opened #33 "SendBirdSDK contains architectures (armv7 arm64) none of which match the current build architectures (x86_64)"
We currently have issues building in our CI in the `[CP] Embed Pod Frameworks step` step. Appears there is a missing `dsym` for simulator builds.

[2018-08-15 08:52] bogren commented on #33
Seems to be an issue when running Xcode 10 in our CI. Closing.

[2018-08-15 08:52] #33 closed

[2018-09-15 06:42] somsin commented on #31
no , its working

On Sat, Sep 15, 2018 at 12:54 AM Imju Byon <notifications@github.com> wrote:

--
Thanks & Regards
Somendra Singh

[2018-09-15 19:02] #31 closed

[2018-09-17 19:14] ColinCammaranoAccolade commented on #17
Have there been any updates on this issue? We're also experiencing the same problem. Since the notification payload from SendBird doesn't seem to include `"content-available" : 1`, the application will not call `application(_:didReceiveRemoteNotification:fetchCompletionHandler:)` unless the user taps on the banner.

[2018-09-18 20:06] ColinCammaranoAccolade opened #34 "Not getting connected user's read status"
Hi all, is there a way to get the currently connected user's read status per message? I've been trying to debug this for some time, and I can't seem to find a way to get the current user's read status.

Given a group channel with two or more users, where one of the users is the currently connected user, if I call `channel.getReadStatus()`, I get a dictionary with timestamps for the other users, bu

[2018-10-10 15:35] alf990 opened #36 "Unable to upload app update with Xcode 10/iOS 12/swift 4.2 because of sendbird sdk"
We use your sendbird Chat SDK for our application and it works very good, we like it. But there are problems since iOS 12 and Xcode 10. After updating our project we are not able to upload an new binary to the App Store with Xcode 10. The reason is that the apple throws an signing error because of the sendbird sdk.
What can we do, to resolve this issue?

<img width="768" alt="46680796-2185c200-cbe

[2018-10-11 01:38] famous90 commented on #36
hi, @alf990 Can you tell me how you integrated our SDK? Through Cocoa pod or Carthage?

[2018-10-11 18:47] alf990 commented on #36
hi @famous90 I use Carthage to integrate the sendbird sdk into my app. I also try run "carthage update" to ensure that I use the newest sendbird sdk.

[2018-10-11 19:35] sf-jed-kyung commented on #36
Hi,

Please refer to the following solution for this issue:

https://github.com/Carthage/Carthage#if-youre-building-for-ios-tvos-or-watchos

[2018-10-13 12:55] alf990 commented on #36
Hi Jed,

Create an new run script phase like that:

<img width="990" alt="bildschirmfoto 2018-10-13 um 14 44 05" src="https://user-images.githubusercontent.com/43998697/46905718-edffac00-cef7-11e8-8f3e-16c6128da64f.png">

Helps fix this issue. Thanks a lot for the advice jed.

[2018-10-13 12:55] #36 closed

[2018-10-27 13:45] gorbat-o commented on #15
Hi, I have the same issue.
didReceive message delegate is never called

[2018-11-16 10:13] UtkuDalmaz opened #37 "Delete for me and Delete for all of messages and group channels"
Hi,

When a group channel gets deleted, it gets deleted for all users. Is there a way to delete channel for the only current user?

Same applies to messages, I cannot delete a message of the opponent, I would like to be able to delete messages for me (my message or others) and for all (my message)

Any help?

[2018-12-10 15:35] zarochintsev opened #38 "Connect error: Error Domain=Access token is not valid. Code=400302 "(null)""
# General info
Hi guys, I use send SendBird for iOS v3.0.125 and I have an error on step 2:

`Error Domain=Access token is not valid. Code=400302 "(null)"`

# My steps:

## Step 1

[code]

## Step 2

[code]

# Interesting
If I use user id as "1234" for example this is worked, but if identifier as "5c0e72a67351e1.96429818" I have an error.

# Question
Can not I use any identifier?

[2018-12-10 16:45] #38 closed

[2018-12-10 16:47] zarochintsev commented on #38
Sorry, this problem has been resolved, need use `.connect(withUserId:, accessToken:) `

[2019-01-04 12:59] webappsllcInfo opened #39 "Error 'createApplicationUserListQuery'"
Try to implement sendbird on iOS swift project.

It shows the error "Type 'SBDMain' has no member 'createApplicationUserListQuery'"

In the second line it shows the error.

        if self.userListQuery == nil {
            **self.userListQuery = SBDMain.createApplicationUserListQuery()**
            self.userListQuery?.limit = 25
        }

[2019-01-19 02:42] zahidappsgenii opened #40 "My app was rejected from store."
Invalid Bundle - Disallowed LLVM instrumentation. Do not submit apps with LLVM profiling instrumentation or coverage collection enabled.

https://developer.apple.com/library/archive/qa/qa1964/_index.html

Tested all my framework and found **Sendbird SDK contains LLVM instrumentation symbols.**

Would you please compile framework with Coverage and Insturmentation **OFF**

Used this script to test a

[2019-02-07 13:59] diegocichello opened #41 "SBDFileMessage crashing on access to url parameter"
Hello, my company are using SendBird for a while now, and we found a specific case that the app is crashing when trying to access the .url parameter from a SBDFileMessage.

The crash is this one:

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSFrozenDictionaryM _fastCStringContents:]: unrecognized selector sent to instance 0x6000004c1c60'

When I try to

[2019-02-11 08:03] famous90 commented on #41
Hey @diegocichello could you let me know more information about SDK you use. I can solve easily if you give me follow information.
The previous version and current version of SDK, Which method do you use to send message, What parameters did you pass to the method, Did you get the message from event or api?

[2019-02-12 22:14] sf-jed-kyung commented on #41
We are investigating this issue on the server-side. Would you open a support ticket with your SendBird App ID at our [Technical Support](https://help.sendbird.com/hc/en-us/requests/new)?

Don't post your App ID here.

[2019-02-12 23:17] sf-jed-kyung commented on #41
You don't have to open a support ticket. We found the server logs of your issue.

[2019-02-13 17:40] diegocichello commented on #41
Okay! No problem than, you guys still need the information requested?

[2019-02-13 20:06] sf-jed-kyung commented on #41
It's ok. We figured out that JavaScript SDK sends a file message with a dictionary type as a file URL when the file uploading is failed. We're going to release the new version this week, but the old messages that have a dictionary in the file URL will keep causing the same issue. To prevent it, we have to update our server and it could take some time. Probably, the server would return an empty str

[2019-02-16 02:00] diegocichello commented on #41
Okay let me know when u guys release the fixed version pls!

[2019-02-19 18:44] sf-jed-kyung commented on #41
JavaScript SDK was fixed in v3.0.94. I'll notify you again when the server is updated.

[2019-02-22 15:01] casey55 opened #42 "Setting metaArrayKeys on SBDUserMessageParams"
Trying to test out setting the metaArrayKeys property.  Setting it like so.

[code]

When the user receives this message

message.metaArray is empty
message.customType has the value I set.   "my message custom type"

What is metaArrayKeys used for?  Are we supposed to be able to set it's value?

[2019-02-28 23:33] sf-jed-kyung commented on #41
@diegocichello The server was updated a few days ago. If you see the same issue, let me know. Thanks.

[2019-02-28 23:33] #41 closed

[2019-03-28 13:29] davidgdoll commented on #17
To enable content-available or mutable-content, you have to user the platform API: https://docs.sendbird.com/platform/application#3_add_an_apns_push_configuration

Use that endpoint to upload the certificate and set content_available to true.

[2019-04-09 18:36] BabyAzerty opened #43 "Add enums for SBDAdminMessage customType and data.type"
Hello,

I believe it would make the code much safer if SendBird could implement to its SDK enums to handle SBDAdminMessage auto generated.

Instead of having in our project:

[code]

it would be more secured and Swift-based to have:

[code]

Do you think this can be done?

[2019-04-24 14:23] Kalzem opened #44 "Allow to bulk ban/unban and bulk mute/unmute in a SBDGroupChannel"
We can bulk invite users, so why not bulk kick/ban them? Same for bulk muting/unmuting users.

[2019-04-24 22:09] adamteale commented on #17
Hey @davidgdoll I can't seem to find where to set content-available in the dashboard.
Is it in Settings -> Notifications ?

[2019-04-24 22:16] davidgdoll commented on #17
@adamteale It is not available through dashboard, you have yo use the platform API to set your push configurations, see the link:
https://docs.sendbird.com/platform/application#3_add_an_apns_push_configuration

[2019-04-24 22:21] adamteale commented on #17
Thanks for letting me know!

[2019-04-25 15:29] adamteale opened #45 "sent message received in multiple channels"
Hi Guys,

This is most likely caused by something I am doing incorrectly.
I have several Group Channel instances each acting as their own SBDChannelDelegate..

For some reason when a message is sent to one of the channels all of these channel's delegates didReceive methods are called.

My current work around is to compare the message's channelUrl to the groupChannel channelUrl to make sure that is

[2019-05-03 20:56] fgulan opened #46 "`sendFileMessageWithBinaryData` is leaking memory"
It seems that `completionHandler` block on `sendFileMessageWithBinaryData` method is leaked/retained even after it is called with result.

I've tried it on sample app (basic/old/objc-sample), steps to reproduce:

1. Enter any group channel
2. Send few photo messages
3. Close the chat
4. Open Xcode memory graph
5. Filter `SBDFile...`
6. You'll see few instances too many of SBDFileMessage - retained

[2019-05-09 13:41] jazz-mobility opened #47 "Carthage support for binary only framework"
As Sendbird framework is binary only, it should support carthage binary only dependency as well.
We are using `carthage update --platform ios --cache-builds --no-use-binaries` to avoid using prebuilt binaries for the project. We had to create our custom json file to use sendbird with binary only.

Here is the examples for JSON -
[code]

IMHO, Sendbird should provide a support for this. It is fairl

[2019-05-25 22:52] BabyAzerty commented on #45
How do you achieve that behaviour? All I see in their SDK is

[code]

which relates to SBDMain (so all channels) and not a specific channel.

[2019-05-27 13:32] adamteale commented on #45
I have a class that represents an instance of channel, and this implements the channel SBDChannelDelegate methods - in particular the "didReceive message" method :
`
    func channel(_ sender: SBDBaseChannel, didReceive message: SBDBaseMessage) {
        if message.channelUrl == channel?.channelUrl {
             ....
        }
    }
`

[2019-05-27 13:55] BabyAzerty commented on #45
Ah yes, it's indeed how the SDK is supposed to work: Because the SendBird delegate is attached to SBDMain and not to a SBDChannel, it is normal that it triggers an event for any message from any channel.

It's a common pattern with Chat SDKs (XMPPFramework, Applozic, etc).

So either you implement it the way you did, directly into your channel object and you compare the urls.
Or you can have your

[2019-07-03 12:59] artemisia-absynthium opened #48 "Add Swift Package Manager support"
Hello,

SPM support for all Apple platforms has been announced and Xcode 11 has a nice integration for it! Please add SPM support for the project!

Thank you for your great work! :)

[2019-07-23 15:27] DonWada opened #49 "Feature request: Missing callback for markAsRead()"
I don't see anyway to know if channel.markAsRead() did succeed or not?

There is no callback and if it succeeded, it doesn't trigger the channel delegate `channelDidUpdateReadReceipt(_ sender)`.

Is it possible to add a callback to this function (markAsRead) or extend the `channelDidUpdateReadReceipt` to include it?

We have a UI that depends on the success of markAsRead and so far, there is no wa

[2019-07-25 03:57] destantifw opened #50 "how to handle connection timeout in SBDGroupChannel.getWithUrl ?"
I'm using SBDGroupChannel.getWithUrl for getting current channel. But if there's bad connection while processing, instead of returning error message, it keep processing forever. How do i fix it?

[2019-08-27 04:12] martinklimek commented on #17
I've followed your instruction @davidgdoll and I'm able to receive PN callback in the code - thanks for this info. The issue I have now is that all push notifications are doubled. One is coming based on template in the Dashboard and another one from the callback formatted by me in the app.

Any idea how can I fix this and remove template based on?

[2019-09-12 13:47] DonWada opened #51 "[Channel] Delete message parameter is strange"
To delete a message in a channel, the SDK asked for a SBDBaseMessage object, which is counter-intuitive, because:
- There are many different ways to pass data from the model layer (SBDBaseMessage) to the UI layer, and the SBDBaseMessage is probably "lost" at some point.
- There is no way to fetch a SBDBaseMessage object by id directly.

The most natural way would be to ask for the message id (Int6

[2019-09-17 11:40] NallapatiMalleswari commented on #37
Hi ,
I am also facing issue , any help.

Thanks

[2019-09-20 20:02] mmoloksher opened #52 "v3.0.150 Fails with Bitcode Enabled"
Hello, after upgrading the Sendbird iOS SDK to `v3.0.150` we are no longer able to distribute our application with `Bitcode` enabled. The problem occurs when are trying to export our `.ipa` for Enterprise distribution.

It seems like in `v3.0.150` support for additional architectures was added which are not compatible with `Bitcode`.

What is the recommended fix for this?

![Screen Shot 2019-09-20

[2019-09-25 13:03] initialj opened #53 "distribute App then failed"
Failed to verify bitcode in SendBirdSDK.framework/SendBirdSDK:
error: Linker option verification failed for bundle /var/folders/t_/ht08lyv57j3b8tr1sr5dr_yc0000gn/T/SendBirdSDKfzIgRz/SendBirdSDK.armv7.xar (unrecognized arguments: -platform_version iOS 8.0.0 13.0.0)

[2019-09-25 13:35] sf-jed-kyung commented on #53
Hello @initialj ,

Can you tell me about the Xcode version and the deployment target of your app?

[2019-09-26 03:13] ferrerod commented on #53
This is the same issue we reported here: https://github.com/sendbird/sendbird-ios-framework/issues/52

[2019-09-26 15:45] mmlittle commented on #52
Hmm.. I'm confused here..

What good does bitcode do for an enterprise build?  Distribution is Ad Hoc, so there's no app thinning, therefore bitcode is of no advantage.

Or am I missing something here?

[2019-09-26 17:50] sf-jed-kyung commented on #52
Hello,

Thank you for submitting the issue. I've tested exporting an app with the `Include bitcode for iOS content` option or the `Rebuild from Bitcode` option. The deployment target was 8.0 and Xcode version was 11. Since my Apple developer program is not Enterprise, so I couldn't test for `Enterprise distribution`. I just exported my app for `App Store Connect` and `Ad Hoc`, and there were no is

[2019-09-26 19:39] rpekarek commented on #42
We're running into the same issue. Rather than (or in addition to) setting the `metaArrayKeys`, it would be helpful if we could set the `sortedMetaArray` data directly on `SBDBaseMessageParams` prior to sending the message

[2019-09-26 20:20] rpekarek opened #54 "Thumbnails not generating"
We're sending image file messages with the following params:
[code]
via `channel.sendFileMessage(with: fileMessageParams...`

But when we retrieve the `SBDFileMessage` later, the `thumbnails` array is empty

[2019-09-27 22:11] Romulomga commented on #52
Trying export with 3.0.150 version, using fastlane with bitcode enabled and enterprise. Same issue:
![Captura de Tela 2019-09-27 às 19 10 50](https://user-images.githubusercontent.com/23625196/65805060-92efb500-e15a-11e9-8676-a4529ec9cb16.png)

[2019-09-30 19:06] sf-jed-kyung commented on #52
Hi all,

We've released v3.0.151. We built the SDK in the new environment, but couldn't test exporting in Enterprise Program. Could you export your apps again with v3.0.151?

[2019-09-30 19:41] Romulomga commented on #52
Everything, seems work now!!
![Captura de Tela 2019-09-30 às 16 40 41](https://user-images.githubusercontent.com/23625196/65910460-1d295a80-e3a1-11e9-9941-57d14747e4ca.png)

[2019-09-30 19:44] sf-jed-kyung commented on #52
@Romulomga Thank you so much for the testing!

[2019-10-12 04:06] ferrerod commented on #49
This call has a completion handler with error. Are you not using this?
/**
 *  Marks as read some group channels of the current user.
 *
 *  @param channelUrls The array list with channel urls to be marked as read.
 *  @param completionHandler The handler block to execute.
 */
+ (void)markAsReadWithChannelUrls:(NSArray <NSString *> * _Nonnull)channelUrls
                completionHandler:(nullable

[2019-10-12 10:49] #53 closed

[2019-10-26 21:29] Richardson12345 opened #55 "Can't build sendbird sample project xcode 11"
![Screen Shot 2019-10-27 at 4 27 53 AM](https://user-images.githubusercontent.com/37545118/67626201-3c1cee80-f872-11e9-8777-822b36c81e13.png)

Can't build sendbird after pod install with with the following errors

[2019-10-28 10:45] dushantSW opened #56 "SIGSEGV Crash from Sendbird SDK websocket."
We are seeing a crash from Sendbird SDK. It has occurred for multiple clients with different devices and OS versions.

`Exception Type:  SIGSEGV
Exception Codes: SEGV_ACCERR at        0xd77c9beb8
Crashed Thread:  12

Application Specific Information:
Memory Usage:    133 / 2007 MB (6%)

Thread 12 Crashed:
0   libobjc.A.dylib                0x0000000186614430 objc_msgSend + 16
1   SendBirdSDK

[2019-11-21 20:43] omar14 commented on #30
We are facing the same issue, did you figure our a solution for this?

[2019-11-28 06:52] ferrerod opened #57 "SBDMain markAsReadWithChannelUrls completionHandler is broken"
Calling this function below:
[code]
results in this error. the first time it is even called:
[code]

But worse, even after calling the code above and error == nil, the markAsRead does not notify other clients who are subscribed to the private group channel about the read receipt.

If I use this call instead:
`sbdGroupChannel.markAsRead()`

it works, however because this call lacks a completion han

[2019-12-13 11:38] enasaz9 opened #58 "User Must be a member Error"
Users are getting this error when trying to join an existing group channel.
I'm not removing any member from the channel or deleting the channel after the session is ended.[
![IMG_3630](https://user-images.githubusercontent.com/22219827/70797744-c7642c00-1dad-11ea-8e73-e39b1d52f746.PNG)
](url)

[2020-01-10 10:10] Akshay-bcat opened #59 "Issues facing with SendBird iOS integration"
we are trying to integrate SendBird SDK in our iOS app for Chat integration. But we are facing some issues which are blocking us from integrating all features of SendBird SDK

**Chat history clear issue**

As mentioned in sendbird iOS docs,
https://docs.sendbird.com/ios/group_channel#3_clear_the_chat_history

We only have to use resetMyHistory method and it will clear all previous messages from ch

[2020-01-23 09:07] Akshay-bcat commented on #59
Any update ?

[2020-02-06 11:30] Akshay-bcat opened #60 "Issues after 3.0.166 release"
2 days ago Sendbird SDK version 3.0.166 and we are facing some serious issues related to SBSMMessageCollectionDelegate  insert event provided in this delegate is not working as expected. Would anyone please provide us any help solving these issues. Following is the brief description about issues with steps to reproduce:

- Open chat module, start any chat conversation, after sending some messages

[2020-02-06 11:31] Akshay-bcat commented on #60
After upgrading I downgraded to 3.0.165 but facing same issue in that version too

[2020-02-24 21:08] EnasAhmedZaki opened #61 "No able to receive messages after receiving image"
I have an issue in receiving any messages between two clients.
Scenario:
- Send any text message > both clients receiving it successfully.
- Send image file message from Client A to Client B.
- Client B receives it successfully.
- Client  B trying to send any text message, sent successfully but Client A doesn't receive it.
- Client A sends a message Client B receives it successfully.

*I've checke

[2020-03-11 10:38] VladasZ commented on #45
@Kalzem it is kinda strange. What is the purpose of identifier string then?

[2020-03-11 10:45] Kalzem commented on #45
@VladasZ It's been a few months since I touched SendBird, but my guess would be that they have a multicast delegates system saved as a dictionary using the identifier as the key. So that when you want to remove a delegate, you give the identifier key.

[2020-03-11 10:51] VladasZ commented on #45
@Kalzem in my opinion setting delegate directly to SBDBaseChannel would be more convenient. Protocol called SBDChannelDelegate, not SBDMainDelegate.

[2020-03-17 15:02] Romulomga opened #62 "Issues after 3.0.173 release"
Hi,

My app is freezing after send a message.

Im using SendBird SyncManager, and already changed `requestState()` to `sendingStatus` in all over my code.

[2020-03-17 15:34] sf-jed-kyung commented on #62
Hi @Romulomga

Thank you for letting us know. We will look into this issue as soon as possible.

[2020-03-18 06:30] intoxicated commented on #60
@Akshay-bcat Is your issue still reproducible with latest version? (3.0.173)

[2020-03-18 06:41] intoxicated commented on #57
@ferrerod Are you still experiencing this issue with latest version? if so, let me know

[2020-03-18 06:42] intoxicated commented on #56
@dushantSW Are you still experience this issue with latest version?

[2020-03-18 06:44] intoxicated commented on #55
@Richardson12345 can you try to clean build and/or derivedData folder and see if works?

[2020-03-18 06:45] intoxicated commented on #54
@rpekarek thumbnails is premium feature. Could you confirm that you are eligible to use thumbnail feature?

[2020-03-18 06:46] intoxicated commented on #49
@DonWada Please check our documentation https://docs.sendbird.com/ref/ios/Classes/SBDMain.html#//api/name/markAsReadAllWithCompletionHandler:

[2020-03-18 06:46] intoxicated commented on #49
Closed

[2020-03-18 06:46] #49 closed

[2020-03-18 06:49] intoxicated commented on #47
@jazz-mobility Thank you for giving us a great feedback. I will discuss this with team and see if we can improve on future release

[2020-03-18 14:26] Romulomga commented on #46
Im experiencing this issue in `v3.0.172` too

[2020-03-18 16:31] sf-jed-kyung commented on #62
Hi @Romulomga

I have a question. Are you developing your app in Swift?

[2020-03-18 18:40] Romulomga commented on #62
Hi @sf-jed-kyung,

My app was originally write in obj c, but recently we start the migration for swift.

Our chat is already in swift, and im using the following sendbird pods:

[2020-03-19 02:49] #16 closed

[2020-03-19 19:01] sf-jed-kyung commented on #62
Hi @Romulomga

We've released SyncManager v1.1.19 to solve this issue. Please update it. Thanks!

[2020-03-19 19:21] Romulomga commented on #62
Thanks!!

[2020-03-19 19:44] #62 closed

[2020-03-20 23:32] intoxicated commented on #58
@enasaz9 Do you still experience this issue?

[2020-03-20 23:41] intoxicated commented on #48
@artemisia-absynthium Thank you for the feedback! I will look into this and see I can process your request in near future.

[2020-03-20 23:50] intoxicated commented on #45
@adamteale like Kalzem said, it is intended behavior. It internally manages delegates in dictionary with associated key identifier. And if when a signature has to be called (for instance, ```channel:didReceiveMessage:``` ), it will go through the delegate dictionary and call if it matches. The main reason why delegate has channel parameter is to give you to decide whether you want to proceed the g

[2020-03-20 23:51] intoxicated commented on #45
Please feel free to reopen if you have any questions regards to this behavior.

[2020-03-20 23:52] #45 closed

[2020-03-21 00:16] VladasZ commented on #45
Hi! @intoxicated Thanks for the response.

As the original poster said, and according to my experience there is no check for channel to match the action. On a single message event for a single channel, all channels delegate methods are called in current implementation. It is like if any person in a city receives a mail, the post sends mails to all the citizens, and a citizen must check if the mail

[2020-04-01 14:51] intoxicated commented on #61
@EnasAhmedZaki  Are you experience this issue on latest version? Current version is 3.0.176. Let me know if it doesn't fix your problem then I will look into it

[2020-04-01 14:53] #52 closed

[2020-04-20 18:14] intoxicated commented on #42
Hello, we are going to update regard this issue about late April. Basically, you can set keys and values for `metaArrays` field in param when you send a message.

[2020-04-20 18:16] intoxicated commented on #30
It seems like when we serialize response from server, string like json format may convert to dictionary format instead string. I will keep you guys post when I fix this problem

[2020-04-20 19:02] intoxicated commented on #23
Close the thread since I do not see the issue in latest version `3.0.176`.

[2020-04-20 19:02] #23 closed

[2020-04-20 19:05] intoxicated commented on #17
Since it seems like OP is resolved, I'm closing the thread.

[2020-04-20 19:05] #17 closed

[2020-04-20 19:43] intoxicated commented on #30
@ichina I noticed that on our side DB, data field corresponding to that message is object not a string. Could you provide what payload you sent as data? also in what platform (via SDK or PlatformAPI)

[2020-04-20 21:23] intoxicated commented on #25
Please use `customTypesFilter` (array) instead. Thanks

[2020-04-20 21:23] #25 closed

[2020-04-21 02:52] #30 closed

[2020-04-21 03:44] #40 closed

[2020-04-21 03:47] intoxicated commented on #39
@webappsllcInfo What version are you using? `SBDMain.createApplicationUserListQuery()` seems visible from my end.

[2020-04-21 03:51] intoxicated commented on #43
@Kalzem Thanks for the feedback! I will discuss with my team and see if we can improve this :)

[2020-04-27 16:42] intoxicated commented on #20
@KateZ30 I will close the issue for now due to inactivity. Please feel free to reopen

[2020-04-27 16:42] #20 closed

[2020-04-27 16:59] intoxicated commented on #34
Hello,  those method you mentioned were updated with boolean option to include all members. Please feel free to reopen the issue if you are still in trouble! Thanks

[2020-04-27 16:59] #34 closed

[2020-04-27 17:55] intoxicated commented on #37
@UtkuDalmaz Could you clarify "delete channel for the only current user"? You can leave(group)/exit(open) a channel. The term "Delete" means a entity will be deleted from the server, which will impact globally not regards to a specific user.

[2020-04-27 18:00] intoxicated commented on #37
If you are talking about local deletion, you can achieve this for both channel and message by tracking "delete channel" on your side. For instance, you provide to delete button for channel on your UI, then when a user clicks on delete, you don't call "delete" method from sendbird but keep it on your side locally. When you fetch channels or messages from sendbird, you can compare local deletion lis

[2020-04-27 18:02] intoxicated commented on #39
Closing due to inactivity. Please feel free to reopen if you still are in trouble.

[2020-04-27 18:02] #39 closed

[2020-04-27 18:03] intoxicated commented on #42
@casey55 @rpekarek FYI, we are going to metaArray improvement release at the end of April.

[2020-04-27 18:04] intoxicated commented on #44
@Kalzem I'm sorry, but we do not support bulk kick/mute/ban at this moment.

[2020-04-27 18:05] intoxicated commented on #46
Thank you for feedback! I will look into it.

[2020-04-27 19:26] jstngoulet commented on #37
You may also use this "Delete" function by removing the current user from the conversation. This way, the other users will still have access to the chart history, however, the current user that was removed will no longer receive that thread.

[2020-04-27 19:29] intoxicated commented on #51
@DonWada FYI, we will include this feature on next release (ETA end of April)

[2020-04-27 19:30] intoxicated commented on #54
We opened thumbnail feature for free users too. Please feel free to reopen if the issue still occurs

[2020-04-27 19:30] #54 closed

[2020-04-27 19:31] #55 closed

[2020-04-27 19:47] intoxicated commented on #59
Hi @Akshay-bcat

* Please understand the sample may contain some bugs. Are you saying calling `resetMyHistory` and `getPrevMessagesByTimestamp` or `getPreviousMessageByMessageId` return messages? because all unit-tests regards these methods are ok to me

* About search, the documentation is outdated. Please refers `setSearchFilter:fields:` method to achieve
[code]
* Please make sure refresh your c

[2020-04-28 15:43] intoxicated commented on #50
Hi @destantifw unfortunately we do not provide a way to set timeout for requests at the moment. I will talk with team and see if we can improve this in future release!

[2020-05-07 09:40] andrew804 opened #63 "Delivery receipts not working"
## What did you do?

Send a message and check the delivery receipt status of that message.

## What did you expect to happen?

Message gets sent and the delivery receipt of the pre-send message and the message in success callback to be set to a non 0 value for `channel.getDeliveryReceipt(msg)`. Then some time later `channelDidUpdateDeliveryReceipt(:)` delegate method gets called with updated deliv

[2020-05-15 08:17] PatrykKaczmarek opened #64 "Push Notifications using.p8 file"
Hi!

Do you plan to add support for APNS Auth Key (.p8 file) in the nearest future?

[2020-05-19 08:21] aliakhtar-hu opened #65 "Update on Deprecated API Usage UIWebView"
As per apple "ITMS-90809: Deprecated API Usage - App updates that use UIWebView will no longer be accepted as of December 2020. Instead, use WKWebView for improved security and reliability."

When running  `grep -r "UIWebView" .`

We are getting  matches that library used UIWebView
`Binary file ./Pods/SendBirdSDK/SendBirdSDK.framework.dSYM/Contents/Resources/DWARF/SendBirdSDK matches`

In which re

[2020-05-19 14:37] intoxicated commented on #65
@aliakhtar-hu will look into it

[2020-05-19 14:45] intoxicated commented on #63
Hello @andrew804 Would you elaborate the procedure? `getDeliveryReceipt` returns 0 doesn't always mean it is delivered to all recipients. Did you test `channelDidUpdateDeliveryReceipt` with `markAsRead` ?

[2020-05-19 16:16] intoxicated commented on #65
@aliakhtar-hu
I searched and confirmed that we do not have any UIWebView usage in our framework.
I found that your result may result from .dSYM file which don't contain any functional code. This is debugging metadata that’s been stripped from the sendbird framework. The reason why you've found this mention of UIWebView in our dSYM is because we link to UIKit and the version of iOS that may include

[2020-05-19 16:27] aliakhtar-hu commented on #65
@intoxicated thanks for the clarification

[2020-05-19 16:27] #65 closed

[2020-05-20 13:27] andrew804 commented on #63
Hey, thanks for replying. If `getDeliveryReceipt` returning 0 doesn't always mean it is delivered to all recipients, then what does it actually mean?

For testing purposes I am calling `markAsDelivered` in `channel(_ sender: SBDBaseChannel, didReceive message: SBDBaseMessage)` and `channelDidUpdateDeliveryReceipt` is never called.

[2020-05-21 17:39] #44 closed

[2020-05-21 17:41] intoxicated commented on #43
After reviewing this, we cannot provide enum for admin message's data and customType as enum since its value is string. Objective c does not support enum string type so best we can do for this is providing constant to match these values.

[2020-05-21 17:42] #42 closed

[2020-06-03 04:23] intoxicated commented on #64
@PatrykKaczmarek we do plan to support .8 certificate in a future but I cannot give you an exact ETA at the moment.

[2020-06-03 04:23] #60 closed

[2020-06-03 04:24] intoxicated commented on #51
@DonWada It's been released in 3.0.179 FYI.

[2020-06-03 04:24] #51 closed

[2020-06-03 04:26] intoxicated commented on #63
@andrew804 Sorry for late response. Do you mean `channelDidUpdateDeliveryReceipt` didn't get called on the other device?

[2020-06-03 10:10] andrew804 commented on #63
@intoxicated no worries. Yes `channelDidUpdateDeliveryReceipt ` is not called on the other device